################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PersonalSite/PersonalSite/appsettings.json
