@{
    ViewData["Title"] = "Contact Form";
}
@model PersonalSite.Models.ContactViewModel

<!-- ======= Contact Section ======= -->
<section class="contact" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
    <div class="container">

        <div class="section-title">
            <h2>@ViewData["Title"]</h2>
        </div>

        @if (ViewBag.ErrorMessage != null)
        {
            <div class="row">
                <p style="color: red; font-style: italic;">
                    @Html.Raw(ViewBag.ErrorMessage)
                </p>
            </div>
        }

        <div class="row">

            <div class="col-lg-6">

                <div class="row">
                    <div class="col-md-12">
                        <div class="info-box">
                            <i class="bx bx-map"></i>
                            <h3>Location</h3>
                            <p>Kansas City, MO</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="info-box">
                            <i class="bx bx-envelope"></i>
                            <h3>Email</h3>
                            <p>alexd8052@outlook.com</p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-lg-6">

                <form asp-action="Contact" class="php-email-form">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <input asp-for="Name" class="form-control" placeholder="Name" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="form-group mt-3">
                        <input asp-for="Email" class="form-control" placeholder="Email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="form-group mt-3">
                        <input asp-for="Subject" class="form-control" placeholder="Subject" />
                        <span asp-validation-for="Subject" class="text-danger"></span>
                    </div>

                    <div class="form-group mt-3">
                        <textarea asp-for="Message" class="form-control" placeholder="Message"></textarea>
                        <span asp-validation-for="Message" class="text-danger"></span>
                    </div>

                    <div class="form-group mt-4 text-center">
                        <input type="submit" value="Send message" class="btn btn-primary" />
                    </div>

                </form>

            </div>

        </div>

    </div>
</section><!-- End Contact Section -->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
