@model PersonalSite.Models.ContactViewModel

@{
    ViewData["Title"] = "Contact";
}

<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container">

        <div class="section-title">
            <h2>Contact</h2>
        </div>

        <div class="row" data-aos="fade-in">

            <div class="col-lg-5 d-flex align-items-stretch">
                <div class="info">
                    <div class="address">
                        <i class="bi bi-geo-alt"></i>
                        <h4>Location:</h4>
                        <p>Kansas City, MO</p>
                    </div>
                    <div class="email">
                        <i class="bi bi-envelope"></i>
                        <h4>Email:</h4>
                        <p>alexd8052@gmail.com</p>
                    </div>
                </div>

            </div>

            <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                <form asp-action="Contact" class="php-email-form">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <input asp-for="Name" class="form-control" placeholder="Name" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-3">
                        <input asp-for="Email" class="form-control" placeholder="Email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-3">
                        <input asp-for="Subject" class="form-control" placeholder="Subject" />
                        <span asp-validation-for="Subject" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-3">
                        <textarea asp-for="Message" class="form-control" placeholder="Message"></textarea>
                        <span asp-validation-for="Message" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-4 text-center">
                        <input type="submit" value="Send message" class="btn btn-primary" />
                    </div>
                </form>
            </div>
            <div class="container">
                <a href="@Url.Action("Index", "Home")" class="btn btn-outline-primary">Back to Site</a>
            </div>


        </div>

    </div>
</section><!-- End Contact Section -->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
